<div>
    <h3>Post API</h3>
    <h2>Create Department, Department List</h2>
</div>

<h4>Department List</h4>

<table border="1px solid">
    <thead>
        <tr>
            <th>SNo</th>
            <th>Name</th>
            <th>Logo</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>

        @for (item of depList; track $index) {
        <tr>
            <td>{{$index+1}}</td>
            <td>{{item.departmentName}}</td>
            <td>{{item.departmentLogo}}</td>
            <td>
                <button (click)="onEdit(item)">Edit</button>
                <button (click)="onDelete(item.departmentId)">Delete</button>
            </td>
        </tr>
        }
    </tbody>
</table>

<div>
    <h2>New Department</h2>

    <form>
        <label for="">Department Name</label>
        <input type="text" placeholder="Enter Name" name="name" [(ngModel)]="deptObj.departmentName"> <br><br>

        <label for="">Department Logo</label>
        <input type="text" placeholder="Enter Logo Url" name="logo" [(ngModel)]="deptObj.departmentLogo"> <br><br>

        <button type="reset">Reset</button>

        @if(deptObj.departmentId==0){
            <button type="submit" (click)="onSave()">Save</button>
        }@else {
            <button type="submit" (click)="onUpdate()">Update</button>
        }
    </form>
</div>