<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="nav">
    <a routerLink="first">First</a><br>
    <a routerLink="second">Second</a><br>
    <a routerLink="template-reference">Template-reference</a><br>
    <a routerLink="two-way">Two-way</a><br>
    <a routerLink="user">User</a><br>
    <a routerLink="counter">counter</a><br>
    <a routerLink="data-binding">data-binding</a><br>
    <a routerLink="attribdir">attribdir</a><br>
    <a routerLink="structdir">structdir</a><br>
    <a routerLink="class">class</a><br>
    <a routerLink="controlflow">controlflow</a><br>
    <a routerLink="pipes">pipes</a><br>
    <a routerLink="templateform">Template Form</a><br>
    <a routerLink="reactiveform">Reactive Form</a><br>

    <div class="dropdown">
        <button class="dropbtn">Api Integrations
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a routerLink="get-api">Get Api</a>
            <a routerLink="post-api">Post Api</a>
        </div>
    </div>
    <button routerLink="data-binding">Go to data binding</button>
</div>

<hr>

<div>
    <router-outlet></router-outlet>
</div>