<div class="nav">
    <a routerLink="first">First</a><br>
    <a routerLink="second">Second</a><br>
    <a routerLink="template-reference">Template-reference</a><br>
    <a routerLink="two-way">Two-way</a><br>
    <a routerLink="user">User</a><br>
    <a routerLink="counter">counter</a><br>
    <a routerLink="data-binding">data-binding</a><br>
    <a routerLink="attribdir">attribdir</a><br>
    <a routerLink="structdir">structdir</a><br>
    <a routerLink="class">class</a><br>
    <a routerLink="controlflow">controlflow</a><br>

    <button routerLink="data-binding">Go to data binding</button>
</div>

<hr>

<div>
    <router-outlet></router-outlet>
</div>